.additional-products__heading {
  @include font($secondary-font, 24px, 24px, $heading-color);
}

.additional-products__list {
  list-style-type: none;
  padding: 0;
}

.additional-products__promotion {
  @include font($primary-font, 16px, 20px, $light-text);
  background-color: $primary-color;
}
