.logotype {
  text-decoration: none;
  display: flex;
  gap: 56px;
  align-items: stretch;
}

@media (min-width: $tablet-width) {
  .logotype {
    gap: 13px;
    // align-items: stretch;
  }
}

@media (min-width: $desktop-width) {
  .logotype {
    gap: 14px;
  }

  .logotype__name {
    width: 118px;
    height: 21px;
  }
}
