.main-navigation__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.main-navigation__item {
  padding: 22px 20px 24px;
  border-bottom: 1px solid #e6e6e6;
}

.main-navigation__link {
  @include font($secondary-font, 20px, 20px, $heading-color);
  text-transform: uppercase;
  text-decoration: none;
}

.main-navigation__link:hover {
  opacity: 60%;
}

.main-navigation__link:focus-visible {
  opacity: 60%;
}

.main-navigation__link:active {
  opacity: 30%;
}

.main-navigation__toggle {
  min-width: 24px;
  min-height: 24px;
  background-color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  display: none;
}

.main-navigation__toggle--open {
  display: block;
}

.main-navigation__toggle::before {
  content: "";
  display: block;
  min-width: 24px;
  min-height: 24px;
  background-color: #000000;
  mask-image: url("../../icons/stack.svg#menu-button");
  mask-repeat: no-repeat;
  mask-position: center;
}

.main-navigation__toggle:hover {
  opacity: 50%;
}

.main-navigation__toggle:active {
  opacity: 30%;
}

