.promo {
  background-color: $primary-color;
  text-align: center;
}

.promo__heading {
  @include font($secondary-font, 36px, 36px, $light-text);
}

.promo__slogan {
  @include font($secondary-font, 14px, 14px, $light-text);
}

.promo__link {
  text-decoration: none;
}
