.slider {
  display: grid;
  width: 280px;
  height: 256px;
  grid-template-columns: 140px auto 140px;
}

.slider__image {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.slider__image--before {
  object-position: left;
}

.slider__image--after {
  object-position: right;
}

.slider__button {
  display: block;
  background-color: #666666;
  border-radius: 2px;
  width: 4px;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
}

.slider__button::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #666666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider__button::after {
  content: "";
  display: block;
  width: 24px;
  height: 18px;
  mask-image: url("../../icons/stack.svg#slider-button");
  background-color: #666666;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
